.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-body {

  background-color: #c7e6cb;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  
  
}
.header {

  padding: 50px;
  border-radius: 10px;
  text-align: center;
}
body {
  background-color: #7fec8e;
  width: 100%;
  height: 100%;
}
.port {

    display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  max-width: 960px; 
  margin: 0 auto; 
  gap: 10px;
}

.pcards {
  margin-bottom: 20px;
  bottom: hover;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
}